/* ---------- BACKGROUND THEME OF CATEGORY PAGE ---------- */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffe9ef;
}

/* ---------- HEADER STYLE ---------- */

/* header section background */
.header-section {
    background-color:#D56989;
}

/* navbar layout */
.nav-bar {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color:white;
}

.logo img {
    width: 150px;
    height: auto;
}

/* main menu styling */
.main-menu ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.main-menu li a {
    padding: 20px;
    font-size: 20px;
    color: black;
    transition: color 0.3s;
    text-decoration: none;
}

.main-menu li a:hover {
    color:#ea9caf;
}

/* search box */
.search-box {
  background: #ea9caf;
  width:200px;
  height: 40px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  padding:0 10px;
}

.search-box input {
    width: 100%;
    border:none;
    outline: none;
    background: none;
    font-size: 16px;
}

/* profile & cart icons */
.profile img, .cart img {
    width: 50px;
    height:auto;
}

/* ---------- CATEGORY SECTION TITLE ---------- */
.categories h2 {
  left: 50%;
  margin-left: 10px;
  margin-bottom: 5px;
  font-size: 25px;
}

/* ---------- HORIZONTAL LINE UNDER TITLE ---------- */
.title-line {
  width: 100%;
  left: 50%;
  margin-left: 10px;
  margin-bottom: 10px;
  border: none;
  border-top: #D56989 2px solid;
  border-radius: 1.5px;
}

/* ---------- GRID LAYOUT FOR CATEGORIES ---------- */
.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

/* ---------- CATEGORY BOX STYLE ---------- */
.category-box {
  text-align: center;
  border-radius: 12px;
  overflow: hidden;
  background-color: white;
  transition: transform 0.3s;
}

/* ---------- CATEGORY IMAGE ---------- */
.category-box img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

/* ---------- PRICE STYLE ---------- */
.price {
  font-size: 1em;
  font-weight: bold;
  color: #D56989;
  margin: 0;
}

/* ---------- PRODUCT CATEGORY HOVER EFFECT ---------- */
.category-box:hover {
  transform: scale(1.03);
}

/* ---------- BOOK DESC STYLE ---------- */
.desc {
  font-size: 0.9em;
  color: #555;
  margin: 8px 16px;
}

/* ---------- ADD TO CART BUTTON STYLE ---------- */
.btn {
  background-color: #fc8095; 
  padding: 8px 16px;
  border: none;
  margin-bottom: 16px;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffc9d7; 
}

.btn a {
  color: black;
  text-decoration: none;
}


/* SELL FORM STYLING */
.uni-form {
  background-color: white;
  width: 25%;
  margin: 20px auto;
  padding: 32px;
  border-radius: 15px;
  box-shadow: 0 0 15px #d56989(195, 181, 27, 0.1);
}

.uni-form h2 {
  color: #d56989;
  text-align: center;
}

.uni-form p {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.uni-form label {
  margin: 10px 0 5px;
  font-weight: bold;
}

.uni-form input,
.uni-form select,
.uni-form textarea {
  width: 90%;
  padding: 10px;
  border: 1px solid #ddd;
}

.uni-form input[type="file"] {
  border: none;
}

.uni-form .btn {
  display: block;
  margin: 16px auto 0;
  background-color: #fc8095;
  color: black;
  padding: 10px 20px;
}

.uni-form .btn:hover {
  background-color: #ffc9d7;
}
